table
{
    /* border: 1px solid black; */
    /* background-color: #9e9e9e; */
    border-spacing: 0;
    border-collapse: collapse;
    background-repeat: no-repeat;
}

tr
{
    
    padding: 0; 
    margin: 0;
}

td
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

canvas
{
    display: block;
    padding: 0; 
    margin: 0; 
}

img
{
    display: block;
    padding: 0; 
    margin: 0; 
}

#scoreboard{
    padding-left: 6px;
    height: 39px;
    width: 194px;
    text-align: left;
}
#compostWeaponBox{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right:4px;
    font-size: 12px;
    max-height: 82px;
    width: 79px;
    /* border: 5px solid red; */
    text-align: center;
}
#textileWeaponBox{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right:2px;
    font-size: 12px;
    max-height: 82px;
    width: 79px;
    /* border: 1px solid black; */
    text-align: center;
}
#recyclingWeaponBox{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right:3px;
    font-size: 12px;
    max-height: 82px;
    width: 78px;
    /* border: 1px solid black; */
    text-align: center;
}
#hpBox{
    height: 39px;
    width: 194px;
    padding-right: 6px;
    text-align: right;
}
#textBox{
    border: 1px solid black;
    /* background-color: #616161; */
    padding-left: 5px;
    height: 50px;
    width: 238px;
    vertical-align: top;
    text-align: left;
}

td.gtext {
    color: black;
    font-smooth: never;
    -webkit-font-smoothing : none;
    /* text-shadow: 2px 2px 5px blue; */
    font-size: 15px;
}

td.ftext {
    color: white;
    font-smooth: never;
    -webkit-font-smoothing : none;
    /* text-shadow: 2px 2px 5px blue; */
    font-size: 15px;
}

#astronautFace{
    /* background-color: #616161; */
    height: 126px;
    width: 126px;
    vertical-align:bottom;text-align:center;
    padding-bottom: 5px;
    padding-left: 15px;
}

#game_table
{
    height: 540px;
    border-collapse: separate;
}

td.chosenWeapon
{
    /* border: 1px solid red; */
    background-color: white;
    background-clip: content-box;
}

td.unchosenWeapon
{
}

#emptyBoxTop
{
    height: 39px;
    width: 212px;
}

#emptyBoxBottom
{
    width: 236px;
    height: 44px;
}

td img
{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#menu_table{
    position: absolute;
    height: 615px;
}