<!-- menu buttons? -->
<div class="bg"></div>
<h1>PITT RECYCLING GAME</h1>
<p>Help create a better future one score at a time!</p>

<input type="hidden" #selection>

<div class="card-container">

  <div class="card card-small" (click)="selection.value = 'infolink'" tabindex="0">
    <span>Recycling Info</span>
  </div>

  <div class="card card-small" (click)="selection.value = 'settings'" tabindex="0">
    <span>Settings</span>
  </div>

  <div class="card card-small" (click)="selection.value = 'leaderboards'" tabindex="0">
    <span>Leaderboards</span>
  </div>

  <div class="card card-small" (click)="selection.value = 'credits'" tabindex="0">
    <span>Credits</span>
  </div>
</div>

<body>
  <div>
    <div class="imagecontainer">
      <img src="assets/img/gamepreview.png" alt="sustainability">
      <button class="cardplay" (click) = "selection.value = 'playgame'" tabindex = "0">
        <span>PLAY GAME</span>
      </button>
    </div>
  </div>
</body>

<div id="sustainabilitylogo">
    <img src="assets/img/PittSustainability2.png" alt="sustainability" width=350px; height=50px; style = "position: fixed; bottom: 20px; left: 20px;">
</div>

